.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: calc(100vh - 20px);
}

.top-box {
    background-color: #f16582;
    height: 40%;
    border: 10px solid white;
    box-sizing: border-box;
}

.center-container {
    display: flex;
    height: 30%;
    width: 70%;
    margin: 0 auto;
}

.center-left-box {
    background-color: #6ab9c0;
    width: 33.33%; 
    border: 10px solid white;
    box-sizing: border-box;
}

.center-center-box {
    background-color: #a89da5;
    width: 33.33%;
    border: 10px solid white;
    box-sizing: border-box;
}

.center-right-box {
    background-color: #6ab9c0;
    width: 33.33%; 
    border: 10px solid white;
    box-sizing: border-box;
}

.bottom-container {
    display: flex;
    height: 30%;
    width: 70%;
    margin: 0 auto;
}

.bottom-left-box {
    background-color: #6ab9c0;
    width: 33.33%; 
    border: 10px solid white;
    box-sizing: border-box;
}

.bottom-center-box {
    background-color: #f16582;
    width: 33.33%;
    border: 10px solid white;
    box-sizing: border-box;
}

.bottom-right-box {
    background-color: #6ab9c0;
    width: 33.33%; 
    border: 10px solid white;
    box-sizing: border-box;
}