@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


table {
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.cabecalho{
    background-color: aqua;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
}
.rodape{
    background-color: blueviolet;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
}
