*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header{
    height: 5%;
    background-color: aqua;
    margin: 1%;
    margin-bottom: 0%;
/* colocar em calc 100vh ou usar porcentegem*/
}

div{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    gap: 1%;/* quando coloquei o gap como porcentagem a imagem parou de sumir mesmo no tamanho minimo da tela 
    isso comprova minha hipotese sobre trabalhar com pixel esmagar as coisas*/
    margin: 1%;
    height: calc(100vh - 200px);
}

div#div2 {
    flex-direction: row; 
    margin-top: 0%;
}

section{
    flex: 1; 
    max-width: 20%;
   background-color: #FB3640 ;
}

article{
    flex: 1;
    background-color: #6e7271;
}

#art2{
    background-color: aqua;
}