@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-image: url(../imagens/Background.png);
}

.container-fluid {
  height: 100px;
}

ul.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul.navbar-nav:last-child {
  align-self: flex-end;
}

ul.navbar-nav li.nav-item {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

ul.navbar-nav li.nav-item img {
  justify-self: end;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.left-container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3%;
  width: 100%;
  height: 100%;
  border: 10px solid #d9d9d9;
  border-radius: 25px;
  max-width: max-content;
  min-width: 390px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3%;
  width: 100%;
  height: 100%;
  border: 10px solid #d9d9d9;
  border-radius: 25px;
  max-width: max-content;
  min-width: 390px;
}

.top-left-container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bottom-left-container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3%;
  width: 50%;
  height: 100%;
  border: 10px solid #d9d9d9;
  border-radius: 25px;
  max-width: max-content;
  min-width: 380px 310px;
}

#imagem-smartphone{
  max-height: 150px;
  max-width: 200px;
}
#imagem-smartphone img {
  flex: 1;
  max-width: 100%; 
  max-height: 100%; 
}
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 3%;
  width: 50%;
  height: 100%;
  border: 10px solid #d9d9d900;
  border-radius: 25px;
  max-width: max-content;
  min-width: 380px 310px;
}

.top-right-container {
  background-color: #d9d9d9;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3%;
}

.descricao-smartphone {
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  width: 50%;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
}

.imagem-smartphone {
  display: flex;
  flex-direction: column;
  padding: 0.5%;
  width: 50%;
  max-width: 300px;
  min-width: 170px;
  margin: 0 auto;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.bottom-box {
  display: flex;
  flex-direction: row;
  padding: 3%;
  width: 100%;
}

.botao-confirmar-compra {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 29%;
  margin-top: 20px;
  border-color: #1c1c1c00;
}

footer {
  background-color: #d9d9d9;
  height: auto;
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
  padding: 40px;
  text-align: center;
}

footer h1 {
  font-family: "Anton", sans-serif;
  font-size: 25px;
  font-style: italic;
  color: #141414;
}

footer p {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-top: 15px;
  color: #141414;
}

.linha {
  text-decoration: none;
}

.botao-confirmar-compra:hover {
  background-color: #242323;
}

@media screen and (max-width: 800px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
  }

  footer {
    gap: 15px;
    justify-content: center;
    text-align: center;
  }

  .logo {
    height: 100px;
  }

  ul.navbar-nav li.nav-item {
    background-color: #d9d9d9;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    width: 250px;
  }

  ul.navbar-nav {
    position: absolute;
    left: 100px;
    top: 125px;
  }
}
#divTotal{
 display: flex;
 flex-direction: row-reverse;
 gap: 20px;
 padding: 20px;
}

#imgCelCarrinho{
  flex: 1;
  max-height: 100px;
}
#listaCarrinho{
  flex: 1;
}