@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



* {
    padding: 0;
    margin: 0;
  }
  body{
    max-width: 100vw;
    max-height: 100vh;
    background-image: url(../imagens/Background.png);
  }
  .container-fluid{
    height: 100px;   
}
  ul.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
ul.navbar-nav:last-child{
    align-self: flex-end;
   
}
ul.navbar-nav li.nav-item{
    flex: 1;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
ul.navbar-nav li.nav-item img{
 justify-self: end;
}

